@import 'reset.css'
@import 'http://fonts.googleapis.com/css?family=Montserrat:400,700'
@import 'http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900)'

$headerColor: #7a9dc8
$headerColorDarker: $headerColor - #333
$baseColor:   #80bce5
$baseDarker:  #74abd0
$almostWhite: #fafafa
$accentWhite: #edebe9
$darkWhite:   #dcdad8
$dark:        #353535

*
	box-sizing: border-box

body
	font-size: 16px
	font-family: "Montserrat"
	background-color: $darkWhite

a, a:visited, a:link
	font-style: none
	text-decoration: none
	color: $dark

button
	display: block
	margin: 0 .2rem
	position: relative
	top: 1rem
	float: right

	border: 2px solid $almostWhite
	color: $almostWhite
	font-size: 1rem
	font-weight: 700
	border-radius: 4px
	cursor: pointer
	background: none
	transition: background-color .3s

button:hover
	color: $headerColor
	background-color: $almostWhite

.header
	height: 4rem
	display: block
	font-size: 2rem
	padding: 0 .8rem
	position: relative
	top: 0
	overflow: hidden
	background-color: $headerColor

	li
		display: block
		float: left
		height: 4rem
		width: auto
		padding: 0 .5rem
		transition: background-color .3s
		a
			height: 100%
			display: block
			span
				transition: text-shadow .3s
				color: $almostWhite
				position: relative
				font-weight: 400
				top: 25%

	li:hover
		background-color: $headerColorDarker

	li:hover a
		text-shadow: 0 0 4px rgba( 250, 250, 250, .5 )

.publication
	margin: 1rem auto
	width: 600px
	border-radius: 4px
	overflow: hidden
	box-shadow: 0 0 5px rgba( 34, 34, 34, 0.2)
	background-color: $almostWhite

.publication_header
	height: 3.3rem
	overflow: hidden
	color: $almostWhite
	letter-spacing: .04rem
	font-family: Lato
	background-color: $baseColor

	img
		display: block
		float: left
		height: 100%

.publication_header_content
	height: 100%
	padding: .4rem .6rem
	float: left
	font-weight: 300

.publication_title
	display: block
	font-size: 1.1rem

.publication_description
	margin-top: .5rem
	display: block
	font-size: .8rem
	color: $almostWhite - #090909

.header_buttons
	display: block
	height: 100%
	font-size: 0.9rem
	float: right

.add_coment_button
	margin-top: -1rem
	margin-right: .5rem

.add_coment_button span:nth-child(2)
	margin-top: .1rem
	margin-left: .05rem

.thumb_up
	padding: 0 .7rem
	padding-top: .7rem
	height: 100%
	background-color: $baseDarker

.base_color
	color: $baseColor

.publication_content
	padding: 1rem 1rem
	color: $dark
	font-size: .8rem
	font-weight: 400
	font-family: 'Montserrat'
	p
		margin-bottom: .7rem