<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="static/css/font-awesome.min.css">
	<link rel="stylesheet" href="static/css/main.css">
	<title>{{ title }}</title>
</head>
<body>
	
	<nav class="header" >
		<ul>
			<li><a href="#"><span class="fa fa-plus-square fa-lg"></span></a></li>
			<li><a href="#"><span>Home</span></a></li>
			<li><a href="#"><span>Mejores</span></a></li>
			<li><a href="#"><span>Aleatorio</span></a></li>
		</ul>
		<button><span>Moderar</span></button>
		<button><span>Login</span></button>
	</nav>

	<section><!-- Seccion de posts -->

		<article class="publication" ><!-- Post -->
			<div class="publication_header">
				<img src="static/img/mike.jpg" alt="">
				<div class="publication_header_content">
					<span class="publication_title">Mike el master</span>
					<span class="publication_description"> 21 de agosto del 2014 en <span class="inline_tag">#superguapo</span> <span class="inline_tag">#pepino</span> <span class="inline_tag">#infomatica</span> </span>
				</div>
				<div class="header_buttons">
					<span class="fa-stack fa-lg add_coment_button">
						<span class="fa fa-comment fa-stack-2x"></span>
						<span class="fa fa-plus fa-stack-1x base_color"></span>
					</span>
					<span class="fa fa-thumbs-o-up fa-2x thumb_up"></span>
				</div>
			</div>
			<div class="publication_content">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id magna nulla. Pellentesque ornare volutpat elementum. Vestibulum mollis consequat purus in tincidunt. Aliquam maximus lacus at tortor consequat euismod. Aliquam ut est nisl. Donec dapibus faucibus porttitor.</p>
				<p>Donec molestie egestas aliquam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin in efficitur ante. Mauris consectetur sapien id metus ultricies hendrerit. Vestibulum et diam a ex porta gravida. Aliquam id vehicula sapien. Curabitur et finibus dolor. Vivamus nisl sapien, luctus ut lectus nec, convallis pharetra nulla.</p>
			</div>
		</article>

	</section>

	<div> <!-- Comments box -->
		<div></div> <!-- header -->
		<div> <!-- Comment Preview -->
			<img src="" alt="">
			<span></span>
			<p></p>
		</div>
	</div>

</body>
</html>